.image{
    max-width: 322px;
    max-height: 286px;
    width: auto;
    height: auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.image1{
    display: flex;
    justify-content: center;
  
}
.recip-description{
    margin-right: 10px;
    font-size: 14px;
}
.descrip{
    background-color:#FFFFFF;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}
.p-description{

    font-family: 'Lato', sans-serif;
}
.icon{
    display: flex;
    position: absolute;
    margin-top: 12px;
    margin-left: 8em;
}
.cards{
margin-top: -26px;
}
.modalModal{
    position: absolute !important;
    height: 100% !important;
    width: 30% !important;
    top: 50% !important;
    left: 50% !important;
    background-color: #FFFFFF;
  }
.title-card{
    font-size: 1rem;
}