.image{
   
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.image1{
    display: flex;
    justify-content: center;
  
}

.descrip{
    background-color:#FFFFFF;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
}
.p-description{

    font-family: 'Lato', sans-serif;
}
.icon{
    display: flex;
    position: absolute;
    margin-top: 12px;
    margin-left: 10em;
}
.footer-descript{
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
width: 25em;

}
.cards{
margin-top: -26px;
}
