
.top1{
    background-color: #D6A255;
    padding: 30px;
    display: flex;
}
.header2{
    background-color: antiquewhite;
    padding: 45px;
    display: flex;
    justify-content: space-around;
}
.input1{
    background-color: #D6A255;
}
.input-header{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 4px;
    position: absolute;
    border: solid #D6A255;;

}
.label-header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    .icon{
        display: flex;
        position: absolute;
        margin-top: 12px;
        margin-left: 7em;
    }

