.title-ingredients{
  font-size: 2rem;
    align-items: center;
    width: 47%;
    height: 100%;
    margin-left: 4rem;
}
.checkbox{
  display: flex;
}
.container-ingred{
  width: 64%;
  justify-content: flex-start;
  display: grid;
}
<<<<<<< HEAD
.css-i4bv87-MuiSvgIcon-root {
  font-size: 2rem !important;
  color: #D6A255;
}
li{
  font-size: 2rem;
}
.preparation{
  font-size: 1rem;
=======
.css-i4bv87-MuiSvgIcon-root{
  font-size: 2rem !important;
  color: #D6A255;
>>>>>>> 5a4bd3385359915ab817a4e0c597bb0f0f866c52
}