.title-ingredients{
  font-size: 2rem;
    align-items: center;
    width: 47%;
    height: 100%;
    margin-left: 4rem;
}
.checkbox{
  display: flex;
}
.container-ingred{
  width: 45%;
  justify-content: flex-start;
  display: grid;
}
.css-i4bv87-MuiSvgIcon-root{
  font-size: 2rem !important;
  color: #D6A255;
}